/* 
* @Author: yangyongkang
* @Date:   2018-05-18 10:54:59
* @Last Modified by:   yangyongkang
* @Last Modified time: 2018-05-18 16:27:45
*/
.header{
	height: 594px;
}
.header .nav_top{
	height:42px;
	background:#000000;
}
.header .nav_top li{
	line-height:42px;
}
.header .nav_top li a{
	color:#5B6170;
}
.header .logo{
	height:149px;
}
.header .logo .logo_top{
	height: 54px;margin-top:24px;
}
.header .logo .logo_top .logo_img{
	width:156px;height:54px;
}
.header .logo .logo_top .search{
	width: 514px;
	height: 34px;
	border:2px solid #6EB92B;border-radius:18px;
	line-height:34px;	margin-left:218px;margin-top:7px;
}
.header .logo .logo_top .search i{
	display:inline-block;width: 34px;
	height: 34px;float:left;

}
.header .logo .logo_top .search .i1{
	background:url(../img/fangdajing.png) no-repeat center center;
}
.header .logo .logo_top .search .i2{
	background:url(../img/lue.png) no-repeat center center;
}

.header .logo .logo_top .search input{
	display:inline-block;line-height:32px;float:left;height:32px;
	background:#fff;
}
.header .logo .logo_top .search .input1{
	width:357px;height:26px;font-size:24px;
	line-height:26px;margin-top:4px;
}
.header .logo .logo_top .search .input2{
	width:89px;height:34px;background:#6EB92B;color:#fff;
	border-radius:0 15px 15px 0px;font-size:14px;
	cursor:pointer;
}
.header .logo .logo_top .xiaoxi{
	width: 138px;
	height: 36px;line-height:36px;font-size:12px;
	display:inline-block;text-align:center;
	background:#6EB92B;color:#fff;
	margin-top:8px;margin-right:52px;
}
.header .logo .logo_bottom {
	line-height:14px;height:14px;font-size:14px;
	margin-top:43px;
}
.header .logo .logo_bottom .weixin{
	margin-left:11px;
}
.header .logo .logo_bottom  .shouji{
	margin-left:30px;
}
.header .logo .logo_bottom  a{
	margin-left:30px;font-size:14px;
}
.header  .banner {
	height:138px;overflow:hidden;
	position:relative;
}
.header  .banner .banner_img{
	width:2400px;height:138px;
	position:absolute;
	top:0;
}
.header  .banner .banner_img li{
	width:1200px;height:138px;float:left;
}
.header .nav_bottom{
	height:100px;
	margin-top:32px;
}
.header .nav_bottom .mainbav{
	width:100%;height:28px;border-bottom:1px solid #5C6271;
}
.header .nav_bottom .mainbav li{
	height:28px;position:relative;
}
.header .nav_bottom .mainbav li i{
	width: 8px;
	height: 6px;
	font-size:0;
	position:absolute;bottom:-1px;left:50%;margin-left:-4px;
    background:url(../img/jiao.png) no-repeat center bottom;
    z-index:99;opacity:0;
}
.header .nav_bottom .mainbav .hov i{
	opacity:1;
}
.header .nav_bottom .menu{
	height:47px;margin-top:24px;
}
.header .nav_bottom .menu .menu_box{
	width:134px;height:47px;
}
.header .nav_bottom .menu .menu_box p:last-child{
	margin-top:18px;
}
.header .nav_bottom .menu .menu_box a{
	display:inline-block;font-size:14px;line-height:14px;color:#333333;
}
/*main*/
.main{
	height:1484px;overflow:hidden;
}
.content1{
	height:481px;margin-top:28px;
}
.content1 .con1_box{
	height:441px;
}
.content1 .con1_box .con1_box_left{
	width: 387px;
	height: 441px;
}
.content1 .con1_box .con1_box_left p{
	height:45px;line-height:45px;background:rgba(0,0,0,0.5);
}
.content1 .con1_box .con1_box_left p a{
	font-size:18px;
}
.content1 .con1_box .con1_box_right{
	width:796px;height:441px;
}
.content1 .con1_box  .con1_box_right .con1_img{
	width:254px;height:216px;
}
.content1 .con1_box  .con1_box_right .con1_img p{
	height:30px;background:rgba(0,0,0,0.5);line-height:30px;
}
.content1 .con1_box  .con1_box_right .con1_img p a{
	font-size:15px;
}
/*content2*/
.content2{
	height:526px;margin-top:28px;
}
.content2 .con2_left{
	width:830px;
}
.content2 .con2_right{
	width:319px;
}
.content2 .con2_left .jiaoyi{
	width:830px;padding-top:6px;
}
.content2 .con2_left .jiaoyi li{
	width:100%;margin-bottom:21px;
	height:14px;line-height:14px;
}
.content2 .con2_left .jiaoyi li p{
     font-size:14px;line-height:14px;
}
.content2 .con2_left .jiaoyi li p span{
	width:160px;text-align:center;display:inline-block;
	font-size:12px;color:#999999;
}
.content2 .con2_right .con2_right_box{
	width:319px;height:188px;
}
.content2 .con2_right .con2_right_box .con2_img{
	width:155px;height:89px;
}
.content2 .con2_right .con2_txt li{
    font-size:16px;line-height:16px;height:16px;
    margin-bottom:11px;
}
.content2 .con2_right .con2_txt li:first-child{
	margin-top:115px;
}
/*.content3*/
.content3{
	height:385px;margin-top:28px;
}
.content3 .con3_box{
	width:347px;height:340px;float:left;
	margin-left:78px;
}
 
.content3 .con3_box .con3_txt{
	height:155px;width:347px;
}
.content3 .con3_box .con3_txt p{
	font-size:14px;line-height:24px;
}
.content3 .con3_box .con3_txt p:first-child{
	font-size:16px;line-height:16px;font-weight:600;
	margin-bottom:8px;
}